@typeparam TItem

<div class="select-box-container @Class" id="@_selectBoxId" @onclick="ToggleDropdown">
    <div class="select-box-display">
        @if (_selectedItem != null)
        {
            @if (ItemTemplate != null)
            {
                @ItemTemplate(_selectedItem)
            }
            else
            {
                @_selectedItem.ToString()
            }
        }
        else
        {
            <span class="placeholder">@Placeholder</span>
        }
    </div>
</div>

@if (_isOpen)
{
    <div class="dropdown-container" id="@_dropdownId">
        @if (Autocomplete)
        {
            @if(string.IsNullOrWhiteSpace(_filterText) && !_displayedItems.Any())
            <input type="text" class="dropdown-filter" id="@_dropdownInputFilterId"
                   @bind="_filterText"
                   placeholder="Enter text to filter"
                   @oninput="OnFilterChanged" />
        }
        <div class="dropdown-items" id="@_dropdownItemsId">
            @foreach (var item in _displayedItems)
            {
                <div class="dropdown-item" @onclick="(() => SelectItem(item))">
                    @if (ItemTemplate != null)
                    {
                        @ItemTemplate(item)
                    }
                    else
                    {
                        @item!.ToString()
                    }
                </div>
            }
            @if (_isLoading)
            {
                <div class="dropdownm-loading">Loading...</div>
            }
            else if (!_displayedItems.Any())
            {
                <div class="empty-list">No records found</div>
            }
        </div>
    </div>
}