@page "/register"
@using Client.Services.Interfaces
@inject IAuthService AuthService
@inject NavigationManager Navigation
@layout EmptyLayout

<article class="container flex-center h-100dvh gap-5 col-sm">
    <LogoSection/>
    <section id="form-section" class="w-100">
        <EditForm @ref="_form" Model="Input" OnValidSubmit="RegisterUserAsync">
            <DataAnnotationsValidator/>

            <LabeledInput Label="Name"
                          InputId="Input.Name"
                          @bind-Value="@Input.Name"
                          AutoComplete="username"
                          Placeholder="John Smith"
                          For="() => Input.Name"/>

            <LabeledInput Label="Email"
                          InputId="Input.Email"
                          @bind-Value="@Input.Email"
                          AutoComplete="username"
                          Placeholder="name@example.com"
                          For="() => Input.Email"/>

            <LabeledInput Label="Password"
                          InputId="Input.Password"
                          InputType="password"
                          @bind-Value="@Input.Password"
                          Placeholder="Enter your password"
                          For="() => Input.Password"/>

            <LabeledInput Label="Confirm password"
                          InputId="Input.ConfirmPassword"
                          InputType="password"
                          @bind-Value="@Input.ConfirmPassword"
                          Placeholder="Confirm the password"
                          For="() => Input.ConfirmPassword"/>

            @foreach (var error in _formResult.ErrorList)
            {
                <div class="invalid_validation_message">@error</div>
            }

            <Button IsLoading="_registerProcessing" OnClick="RegisterUserAsync"
                    Color="Color.Secondary"
                    Text="Register" Type="submit"
                    Class="mt-1 w-100"/>
        </EditForm>
    </section>
</article>